<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="theme-style" rel="stylesheet" href="{% static 'styles/style-light.css' %}" data-theme="light" />
    <link rel="stylesheet" href="{% static 'styles/style-dark.css' %}" disabled/>
    <title>Fitness box - your little fitness journey helper!</title>
</head>

<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}


    {% endblock %}
    <button id="theme-toggle">Toggle Theme</button>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
